# ============================
# Atmel Studio / AVR
# ============================
Nivel_Regulatorio/Nivel_Regulatorio/Debug/
*.o
*.d
*.elf
*.hex
*.map
*.lss
*.srec
*.bin

# ============================
# Python
# ============================
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
ENV/
env/

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# ============================
# Logs & temporales
# ============================
*.log
*.bak
*.tmp
*.swp
*.swo
.json

# ============================
# IDEs / Editor configs
# ============================
.vscode/
.idea/

# ============================
# Sistema operativo
# ============================
.DS_Store
Thumbs.db
